<h1>Admin::Posts#index</h1>
<p>Find me in app/views/admin/posts/index.html.erb</p>
<%= will_paginate @posts %>
<div class="class">
	<h2>Hai Welkom</h2>
	
</div>
<div class="well">
				
	<h2 class="page-header">Posts<%= link_to "Create New", new_admin_post_path, class:'btn btn-success pull-right' %> </h2>
	<% if @posts.exists? %>
		<table class="table">

			<tr>
				<th>Post Title</th>
				<th>Post Category</th>
				<th>Post Body</th>
				<th>Post Created</th>
				<th>Actions</th>
			</tr>

			<% @posts.each do |post| %>

				<tr>
					<td><%= link_to post.title, post %></td>
					<td><%= post.category.name %></td>
					<td><%= post.body.html_safe %></td>
					<td><%= post.created_at.to_time.strftime('%B %e at %l:%M %p') %></td>
					<td><%= link_to "Edit", edit_admin_post_path(post), class:'btn btn-primary' %>
						<%= link_to "Delete", admin_post_path(post), class:'btn btn-danger', method: :delete, data: {confirm: 'Are you SURE'} %>
					</td>
				</tr>

			<% end %>
		
		</table>
		<%= will_paginate @posts %>
	<% else %>
		<p>There Are No Posts </p>
	<% end %>

</div>