<h1>Admin::Categories#edit</h1>
<p>Find me in app/views/admin/categories/edit.html.erb</p>
<%= form_for [:admin, @category] do |f| %>
  
  <% if @category.errors.any? %>
    <% @category.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <div class="form-group">
     <%= f.label :name %>
     <%= f.text_field :name, class:"form-control" %>
  </div><br />
  <%= f.submit 'create', class:" submitbtn" %>
  <%= link_to "Cancel", admin_categories_path, class:"btn btn-default"%>
  
<% end %>